.wrapper {
    display: inline-flex;
    font-weight: 700;
    font-size: 1.6rem;
    min-width: 100px;
    padding: 4px 0;
    border-radius: 4px;
    line-height: 22px;
    cursor: pointer;
    user-select: none;
    padding: 6px 2px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: var(--while);

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}
.primary {
    background-color: rgba(254, 44, 85, 1);
    color: var(--while);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline {
    color: rgba(254, 44, 85, 1);
    border-color: currentColor;
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
//butonsize
.small {
    min-height: 28px;
    min-width: 88px;
}
.large {
    min-width: 168px;
    min-height: 25px;
}
.text {
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    margin-right: 15px;
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
