.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    padding: 9px 16px;
    &:hover {
        background: rgba(22, 24, 35, 0.09);
    }
}
.avatar {
    margin: 0px 12px 0px 0px;
    text-align: center;
}
.avatarImage {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.info {
    flex: 1;
    min-width: 0px;
}
.name {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.check {
    margin-left: 6px;
    color: rgb(22 147 163);
    font-size: 1.2rem;
}
.username {
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.4rem;
}
